/* here you can put your own css to customize and override the theme */
.header {
    background: black;
}
.header >.container>a>img, .site-logo> img.logo-size{
    width: 150px;
}

/* .header-navigation .dropdown-megamenu ul.dropdown-menu{
width: 400px;
} */
/* @media(max-width:)
.price .availability{
    margin-top: ;
} */
#greyed-out > strong{
    color: #bcbcbc;
}